html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

section {
  color: black;
}


/* MEDIA QUERYS */

/*
  ## Desktops
  ## Schermgrootte = 1281px of hoger
*/
@media (min-width: 1281px) {
  #container {
    background-color: #eee;
    height: 100%;
  }

  #voertuig > * {
    flex: 1 100%;
  }

  #voertuig {
    flex: 1 0 auto;
    display: flex;
  }

  main {
    display: flex;
    height: 100%;
  }

  #voertuig section {
  flex: 1 0 0px;
  }

  header {
    text-align: center;
    align-self:flex-start;
    border-top: 3px solid #F48024;
    padding: 1%;
  }

  footer {
    text-align: center;
    align-self: flex-start;
    background: gray;
  }

  #informatie {
    flex: 1 0px;
    text-align: center;
  }

  #omgeving {
    position: relative;
    flex: 1 0px;
  }

  #voorraden {
    flex: 1 0px;
  }

  #afstandTotaal {
    width: 100%;
    height: 30px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    background-color: #d7d7d7;
  }
  #afstandLabel {
    margin-top: 15px;
  }
  #huidigeAfstand {
    width: 10%;
    height: 30px;
    background: #F48024;
    animation: afstandloper 500s;
    animation-iteration-count: 1;
  }

  @keyframes afstandloper {
    from {width: 10%;}
    to {width: 100%;}
  }

  #snelheid {
    width: 70px;
    height: 300px;
    background-color: #2AA876;
    animation: snelheidsmeter 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
    padding: 10px;
  }

  @keyframes snelheidsmeter {
    0% {height: 30px;}
    30% {height: 50px;}
    35% {height: 120px;}
    40% {height: 166px;}
    45% {height: 220px; background-color: #FFD265;}
    50% {height: 183px;}
    60% {height: 150px;}
    70% {height: 200px;}
    80% {height: 300px; background-color: #E8554E;}
    90% {height: 150px;}
    95% {height: 70px; background-color: #F19C65;}
    100% {height: 30px;}
  }

  #acceleratie {
    width: 70px;
    height: 300px;
    background-color: #2AA876;
    animation: acceleratiemeter 10s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    position: absolute;
    left: 100px;
    padding: 10px;
  }

  @keyframes acceleratiemeter {
    0% {height: 40px;}
    10% {height: 140px;}
    15% {height: 190px;}
    20% {height: 170px;}
    25% {height: 250px; background-color: #FFD265;}
    30% {height: 130px;}
    35% {height: 150px;}
    40% {height: 196px;}
    45% {height: 190px;background-color: #F19C65;}
    50% {height: 223px;}
    60% {height: 190px;}
    70% {height: 159px;}
    80% {height: 300px;}
    90% {height: 120px; background-color: #E8554E;}
    100% {height: 40px;}
  }
}

/*
  ## Laptops
  ## Schermgrootte = 961px tot 1280px
*/
@media (min-width: 961px) and (max-width: 1280px) {
  #container {
    background-color: #eee;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #informatie {

  }

  #omgeving {

  }

  #voorraden {

  }
}

/*
  ## Telefoons
  ## Schermgrootte = 320px tot 960px
*/
@media (min-width: 320px) and (max-width: 960px) {

}
